@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white font-light;
  }
  img {
    image-rendering: pixelated;
  }
  .w-1\/12,
  .w-2\/12,
  .w-3\/12,
  .w-4\/12,
  .w-5\/12,
  .w-6\/12,
  .w-7\/12,
  .w-8\/12,
  .w-9\/12,
  .w-10\/12,
  .w-11\/12,
  .w-full {
    @apply px-[15px];
  }
  h1 {
    @apply text-[24px] sm:text-[30px] xl:text-[41px] leading-none;
  }
  h2 {
    @apply text-[30px];
  }
  br {
    @apply hidden sm:block;
  }
}
@layer components {
  .about__advatges--title {
    @apply text-[16px] sm:text-[24px] leading-7;
  }
  .about__advatges--description {
    @apply text-[12px] sm:text-[16px] mt-[15px];
  }
  .btn-primary {
    @apply w-full py-[25px] text-center block border-2 mt-[80px] rounded-[10px] bg-[#ffffff3b];
  }
}

@layer utilities {
  .price__1metr {
    @apply mt-[50px];
  }
  .price__1metr--list li {
    @apply mb-[25px];
  }
  .bg-auto {
    @apply bg-price-auto-pattern  bg-no-repeat bg-custom bg-contain;
  }
  .footer__social a img {
    @apply duration-500;
  }

  .footer__social a:hover img {
    @apply mt-[-10px] transition-all	 duration-500;
  }
  .visual img {
    @apply w-full px-0;
  }
  .visual-miniature img {
    @apply h-[150px] object-cover;
  }
  .sl__visual--miniature .slick-slide img {
    @apply brightness-20 cursor-pointer;
  }

  .sl__visual--miniature .slick-center img {
    @apply brightness-100;
  }
  .tab-content > .tab-pane {
    @apply hidden;
  }

  .tab-content > .active {
    @apply block;
  }
  .fade {
    @apply opacity-0 transition duration-200;
  }

  .fade.show {
    @apply opacity-100;
  }
  .tabs-nav__item a,
  .mini-tabs a {
    @apply text-[18px] border-2 px-[20px] border-transparent inline-block;
  }
  .tabs-nav__item a {
    @apply whitespace-pre;
  }
  .mini-tabs a {
    @apply whitespace-nowrap;
  }

  .layout__room--number br {
    @apply block;
  }
  .tabs-nav__item a.active,
  .mini-tabs a.active {
    @apply bg-[#332b30] px-[20px] py-[10px] border-2 border-white rounded-[10px];
  }
  .layout__room--square li {
    @apply w-[25%] mb-[50px];
  }
  .layout__room--number span {
    @apply text-[48px];
  }
  #html5-watermark {
    display: none !important;
  }

  .header__menu a {
    @apply transition duration-500;
  }
  .header__menu-menu a:after {
    content: "";
    @apply block opacity-0  border-b-2 pb-[5px] transition duration-500;
  }
  .header__menu-menu a:hover:after {
    content: "";
    @apply block opacity-100 border-b-2 pb-[5px] transition duration-500;
  }
  .header__baner--phone a {
    @apply transition duration-500;
  }
  .header__baner--phone a:hover .header__baner--phone-title {
    @apply bg-[#0017ffd1] transition duration-500;
  }
  .header__baner--phone a:hover .header__baner--phone-icon {
    @apply z-50 pl-[15px] transition duration-500;
  }
}

.fix_position {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(15 11 32 / 79%);
  left: 0;
  padding: 15px 0px;
  z-index: 9999;
  opacity: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
